body{
	font-family: Noto Sans KR;
	width: 1440px;
	height: 1024px;
	font-style: normal;
	background-color: #FAF9F6;
}

/* 메인 하단 기본화면 */
.slogan {
	position: absolute;
	display: block;
	margin-top: 50px;
	margin-left: 100px;
	font-size: 30px;
	line-height: 100px;
	color: black;
	}
	
.name {
	width: 250px;
	height: 80px;
	margin-top: 150px;
	margin-left: 1050px;
	font-size: 18px;
	background-color:white;
	color: black;
	position: absolute;
	display: block;
	text-align: center;
	font-weight: bold;
	border:	0.5px solid rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	box-shadow: 0 4px 4px rgb(0,0,0,0.25);
}	
.email {
	width: 250px;
	height: 80px;
	margin-top: 250px;
	margin-left: 1050px;
	font-size: 18px;
	background-color:white;
	color: black;
	position: absolute;
	display: block;
	text-align: center;
	font-weight: bold;
	border:	0.5px solid rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	box-shadow: 0 4px 4px rgb(0,0,0,0.25);
}

.subscribe {
	width: 230px;
	height: 70px;
	margin-top: 370px;
	margin-left: 1063px;
	font-size: 18px;
	background-color: #002C56;
	color: white;
	position: absolute;
	display: block;
	text-align: center;
	font-weight: bold;
	border:	0.5px solid rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	box-shadow: 0 4px 4px rgb(0,0,0,0.25);
	cursor: pointer;
}



	/* 네비게이션 바 */
.burger {
	width: 30px;
}

nav {
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: fixed;
	margin-left: 1390px;
	overflow: hidden;
	transition: 0.1s;
	background-color: rgba(234, 234, 234, 0.9);
	box-sizing: border-box;
	align-items: center;
}
nav:hover {
	width: 500px;
	height: 100%;
	right:0;
}
.logo {
	width: 200px;
	height: 200px;
	margin-bottom: 70px;
}

ul {
	display: block;
	margin-top: 100px;
	list-style: none;
    text-align: center;
	flex-direction: column;
	line-height: 40px;
}
.nav-links li a {
	display: list-item;
    padding: 8px 16px;
	margin-top: 30px;
	color: black;
	font-weight: 900;
	font-size: 30px;
	text-decoration: none;
	letter-spacing: 3px;
}
.nav-links li a:hover:not(.active) {
    background-color: rgba(0, 44, 86, 0.9);
    color: white;
} 

/* 
.burger{
	display: none;
	cursor: pointer;
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(5px);
}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: #002C56;
	margin: 5px;
	transition: all 0.3s ease;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
} */