body {
    font-family: 'Noto Sans KR', sans-serif;
}

.navigation_bar {
    display: block;
    width: 340px;
    height: auto;
    margin:30px;
    position: fixed;
    left: 0;
    top: 0;
    
}

.nav {
	display:inline-block;
	position: absolute;
	padding: 50px;
    width: 280px;
    margin-top: 200px;
    background-color: rgba(234, 234, 234, 0.9);
    box-sizing: border-box;
}

.main_content {
    position: relative;
    width: 550px;
    margin: 8px auto 0;
}

.gDICxIYL8-nFjQUJAuc5S {
    position: fixed;
    height: 100%;
    width: 750px;
    background-color: #fff;
    margin-left: -77px;
    z-index: 3;
    top: 0;
}

.news {
    position: relative;
    width: 150%;
    padding: 20px 0;
    cursor: pointer;
    display: inline-block;
}

.news_contents {
    box-sizing: border-box;
    position: relative;
    padding: 10px 0 10px 140px;
    height: 110px;
    overflow: hidden;
    pointer-events: none;
}

.news_index_date {
    position: absolute;
    border-right: 1px solid #ccc;
    left: 0;
    top: 10px;
    bottom: 10px;
    width: 140px;
    text-align: right;
    display: inline-block;
    font-family: SpoqaHanSansThin;
    color: #999;
    padding-right: 20px;
    box-sizing: border-box;
}

.news_index {
    font-size: 70px;
    line-height: 1;
    margin-top: -8px;
    display: block;
}

.news_date{
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 20px;
}

.news_head{
    font-family: Noto Sans KR,SpoqaHanSansRegular,sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #202020;
    padding-left: 20px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
}

.head_name {
    margin-top: 25px;
}

.news_source{
    position: absolute;
    bottom: 10px;
    font-family: SpoqaHanSansRegular;
    font-size: 18px;
    color: #666;
}


h2, span, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}