<div class="swiper-container test-container" id="after-test-container">
    <form name="after" class="swiper-wrapper">
        <div class="Q0 swiper-slide question-slide">
            <div class="question-container">
                <h3 style="color: red;">잠깐!</h3>
                <span>처음에 했던 테스트와 동일한 테스트 입니다.</span>
                <div class="QS">
                    앞 페이지에서 본 통계자료 및 <br> 동영상 자료를 확인 후 <br>
                    동일한 테스트를 한 번 더 진행해 <br> 새롭게 알게 된 내용을 다시 한 번 <br>
                    확인해보세요!😊
                </div>
            </div>
        </div>

        <div class="Q1 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #1</h3>
                <span>정답을 골라보세요.</span>
                <div class="QS">
                    장애를 가진 사람이라는 의미의<br>단어로서 옳은 표현은 무엇일까요?
                </div>
                <input type="checkbox" name="answer1" value="장애자" onclick='checkOnlyOne(this)'
                    id="after-1-1"><label for="after-1-1"> 장애자</label>
                <input type="checkbox" name="answer1" value="장애인" onclick='checkOnlyOne(this)'
                    id="after-1-2"><label for="after-1-2"> 장애인</label>
                <input type="checkbox" name="answer1" value="장애우" onclick='checkOnlyOne(this)'
                    id="after-1-3"><label for="after-1-3"> 장애우</label>
                <input type="checkbox" name="answer1" value="불구자" onclick='checkOnlyOne(this)'
                    id="after-1-4"><label for="after-1-4"> 불구자</label>
            </div>
        </div>

        <div class="Q2 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #2</h3>
                <span>정답을 골라보세요.</span>
                <div class="QS">
                    대한민국 전체인구 중 장애인의<br>비율은 몇 %일까요?
                </div>
                <input type="checkbox" name="answer2" value="1.5%" onclick='checkOnlyOne(this)'
                    id="after-2-1"><label for="after-2-1"> 1.5 %</label>
                <input type="checkbox" name="answer2" value="3%" onclick='checkOnlyOne(this)'
                    id="after-2-2"><label for="after-2-2"> 3 %</label>
                <input type="checkbox" name="answer2" value="5%" onclick='checkOnlyOne(this)'
                    id="after-2-3"><label for="after-2-3"> 5 %</label>
                <input type="checkbox" name="answer2" value="9%" onclick='checkOnlyOne(this)'
                    id="after-2-4"><label for="after-2-4"> 9 %</label>
                <input type="checkbox" name="answer2" value="11%" onclick='checkOnlyOne(this)'
                    id="after-2-5"><label for="after-2-5">11 %</label>
            </div>
        </div>

        <div class="Q3 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #3</h3>
                <span>정답을 골라보세요.</span>
                <div class="QS">
                    우리나라의 전체 장애인 중,<br>사고나 질환 등의 후천적인 원인으로<br>
                    장애가 발생한 비율은 10명 중,<br> "?"명 꼴입니다.
                </div>
                <label for="after-3-1"><input type="checkbox" name="answer3" value="2"
                        onclick='checkOnlyOne(this)' id="after-3-1"> 2 명</label>
                <label for="after-3-2"><input type="checkbox" name="answer3" value="4"
                        onclick='checkOnlyOne(this)' id="after-3-2"> 4 명</label>
                <label for="after-3-3"><input type="checkbox" name="answer3" value="6"
                        onclick='checkOnlyOne(this)' id="after-3-3"> 6 명</label>
                <label for="after-3-4"><input type="checkbox" name="answer3" value="8"
                        onclick='checkOnlyOne(this)' id="after-3-4"> 8 명</label>
                <label for="after-3-5"><input type="checkbox" name="answer3" value="9"
                        onclick='checkOnlyOne(this)' id="after-3-5"> 9 명</label>
            </div>
        </div>

        <div class="Q4 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #4</h3>
                <span>O / X 문제입니다.</span>
                <div class="QS">
                    뇌병변 장애인은 지능이 낮다.
                </div>
                <label for="after-4-1"><input type="checkbox" name="answer4" value="O"
                        onclick='checkOnlyOne(this)' id="after-4-1"> O </label>
                <label for="after-4-2"><input type="checkbox" name="answer4" value="X"
                        onclick='checkOnlyOne(this)' id="after-4-2"> X </label>
            </div>
        </div>

        <div class="Q5 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #5</h3>
                <span>정답을 골라보세요.</span>
                <div class="QS">
                    우리나라에 등록된 장애 유형 중<br>가장 높은 비율을 차지하고 있는<br>
                    유형은 무엇일까요?
                </div>
                <label for="after-5-1"><input type="checkbox" name="answer5" value="지체장애"
                        onclick='checkOnlyOne(this)' id="after-5-1"> 지체장애</label>
                <label for="after-5-2"><input type="checkbox" name="answer5" value="시각장애"
                        onclick='checkOnlyOne(this)' id="after-5-2"> 시각장애</label>
                <label for="after-5-3"><input type="checkbox" name="answer5" value="심장장애"
                        onclick='checkOnlyOne(this)' id="after-5-3"> 심장장애</label>
                <label for="after-5-4"><input type="checkbox" name="answer5" value="지적장애"
                        onclick='checkOnlyOne(this)' id="after-5-4"> 지적장애</label>
            </div>
        </div>

        <div class="Q6 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #6</h3>
                <span>정답을 골라보세요.</span>
                <div class="QS">
                    장애인 차별 금지법은<br>
                    언제 제정되었을까요?

                </div>
                <label for="after-6-1"><input type="checkbox" name="answer6" value="1988"
                        onclick='checkOnlyOne(this)' id="after-6-1"> 1988년</label>
                <label for="after-6-2"><input type="checkbox" name="answer6" value="2007"
                        onclick='checkOnlyOne(this)' id="after-6-2"> 2007년</label>
                <label for="after-6-3"><input type="checkbox" name="answer6" value="2016"
                        onclick='checkOnlyOne(this)' id="after-6-3"> 2016년</label>
                <label for="after-6-4"><input type="checkbox" name="answer6" value="2008"
                        onclick='checkOnlyOne(this)' id="after-6-4"> 2008년</label>
            </div>
        </div>

        <div class="Q7 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #7</h3>
                <span>O / X 문제입니다.</span>
                <div class="QS">
                    정신장애인은 범죄자가 될 확률이 높다.
                </div>

                <label for="after-7-1"><input type="checkbox" name="answer7" value="O"
                        onclick='checkOnlyOne(this)' id="after-7-1"> O </label>
                <label for="after-7-2"><input type="checkbox" name="answer7" value="X"
                        onclick='checkOnlyOne(this)' id="after-7-2"> X </label>
                <button type="button" class="btn btn-submit btn-lg" id="submitAfterTest"
                    onclick="submitAfter()">제출하기</button>

            </div>
        </div>

    </form>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>