<div class="result-container" id="beforeResult">
    <div class="swiper-slide question-slide result">
        <div class="question-container">
            <h3>Result</h3>
            <span>첫 번째 테스트 결과입니다. 몰랐던 것을 더 알아가보는 시간을 가져보세요.</span>
            <%if(WrongBefore){%>
                <% var wrongNum = 0; %>
                <% console.log(WrongBefore) %>
                <% for(var i=0; i<WrongBefore.length; i++){ %>
                    <% if(WrongBefore[i] == 1){ %>
                        <% wrongNum++; %>
                    <% } %>
                <% } %>
            <div class="RS">
                <h4><%=Nickname %> 님의 등급은
                <% if(wrongNum >= 8){ %>
                    BRONZE🤎 입니다.
                <% } %>
                <% if(wrongNum >= 5 && wrongNum < 8){ %>
                    SILVER🤍 입니다.
                <% } %>
                <% if(wrongNum >= 2 && wrongNum < 4){ %>
                    GOLD💛 입니다.
                <% } %>
                <% if(wrongNum < 2){ %>
                    DIAMOND💙 입니다.
                <% } %>
                </h4>
                틀린 문제 : 
                <%= wrongNum %> 개
                <br><hr>
                    <% for(var i=0; i<WrongBefore.length; i++){ %>
                        <% if(WrongBefore[i] == 1){ %>
                            <%=i+1%>번<br>
                            <% if(i+1 === 1){ %>
                                <p> 장애자의 자는 한자 者(놈 자)로서 사람을 낮춰서 부르는 뜻이 되어 부적절한 표현이며, 
                                    장애우의 우는 한자 友(벗 우)로서 장애를 가진 친구란 뜻이 됩니다.  
                                    그러므로 일반적으로 <b>장애인</b>이라고 사용하는 것이 올바른 표현입니다.</p><br>
                                <% } %>
                            <% if(i+1 === 2){ %>
                                <p>2019년 말 기준 등록장애인은 261만 8000명 입니다. 이는 전체 인구 대비 []% 입니다. 
                                    관련 실태조사 결과를 ‘더 알아보기’페이지 첫 번째 자료를 통해 확인해 보세요!</p><br>
                                <% } %>
                            <% if(i+1 === 3){ %>
                                <p>사고나 질환으로 인한 후천적 장애는 10명 중 9명으로 매우 높은 비율을 차지하고 있습니다. 
                                    우리 모두는 ‘언제든’ 장애를 갖게 될 수 있습니다.</p><br>
                                <% } %>
                            <% if(i+1 === 4){ %>
                                <p>장애에는 눈으로 확인할 수 없는 내부기능 장애도 포함되어 있습니다. 
                                    현재 우리나라에서는 15개 장애유형으로 분류하고 있는데, 크게 
                                    신체적 장애 (신체외부 장애- 지체장애, 뇌병변장애, 시각장애, 청각장애, 
                                    언어장애, 안면장애 / 신체내부 장애- 신장장애, 심장장애, 간장애, 호흡기장애, 장루･요루장애, 뇌전증장애), 
                                    정신적 장애 (발달장애 - 지적장애, 자폐성장애 / 정신장애)로 구분할 수 있습니다. 
                                    2019년 장애인 등록 현황에 따르면, 지체장애가 46.7%로 가장 높은 비율을 차지하고 있습니다.</p> <br>
                                <% } %>
                            <% if(i+1 === 5){ %>
                                <p>특수학교는 신체적, 정신적 등의 장애로 특별한 교육적 배려가 필요한 사람을 위한 학교입니다. </p><br>
                                <% } %>
                            <% if(i+1 === 6){ %>
                                <p>장애인이 먼저 도움을 요청하거나, 도움이 필요한지 물어보고 도와야합니다. </p><br>
                                <% } %>
                            <% if(i+1 === 7){ %>
                                <p>장애인 차별 금지법은 2007년에 제정되었고, 2008년부터 시행되었습니다. 
                                    여러분들은 이러한 법이 있다는 사실을 알고 계셨나요? 
                                    모르고 계셨다면, 그 의미를 한 번 더 생각해보는 시간을 가졌으면 좋겠습니다 :) </p><br>
                                <% } %>
                            <% if(i+1 === 8){ %>
                                <p>2017년 대검찰청 범죄분석 보고서에 따르면, 정신장애인의 범죄율보다 
                                    비장애인의 범죄율이 15배 높은것으로 확인되었습니다. 
                                    정신장애인의 범죄율이 극히 낮은데, 정신 장애인 범죄에만 유독 예민하게 반응하는 이유는 
                                    ‘제정신이 아닌 상태’와 ‘정신장애’를 사람들이 제대로 구분하지 못하기 때문입니다. </p><br>
                                <% } %>
                            <% if(i+1 === 9){ %>
                                <p>기존에는 의학적 판정에 따라 1~6급으로 나뉘었으나, 2019년 7월부터 
                                    장애인등급제를 단계적으로 폐지하여, 장애정도에 따라 "장애 정도가 심한(기존 1~3급)", 
                                    "장애정도가 심하지 않은 (기존 4~6급)"으로 구분합니다. </p><br>
                                <% } %>
                            <% if(i+1 === 10){ %>
                                <p>'배리어프리'란 고령자나 장애인들도 살기 좋은 사회를 만들기 위해 
                                    물리적·제도적 장벽을 제거하자는 뜻입니다. </p><br>
                                <% } %>
                        <% } %>
                    <% } %>
            </div>
            <button type="button" class="btn btn-submit btn-lg" id="transTomainMiddle">더 알아보기</button>
            <script>
                addPageTransition("#transTomainMiddle", "#main_middle", 0);
            </script>
            <%}%>
        </div>
    </div>
</div>