<div class="swiper-container test-container" id="after-test-container">
    <form name="after" class="swiper-wrapper">
        <div class="at_first swiper-slide question-slide">
            <div class="question-container">
                <h3 style="color: red;">Alert!</h3>
                <span>It is the same quiz as the Before Quiz.</span>
                <div class="QS">
                    After learning more about disability 
                    with the statistics and videos on the previous page, 
                    go through the same quiz once again to see 
                    if you have learned about disability! 😊
                </div>
            </div>
        </div>

        <div class="Q1 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #1</h3>
                <span>Choose the correct answer.</span>
                <div class="QS">
                    What is the correct word for people with disabilities?
                </div>
                <div>
                <input type="checkbox" name="answer1" value="장애자" onclick='checkOnlyOne(this)'
                    id="before-1-1"><label for="before-1-1"> handicapped (장애자)</label> </div>
                <div>
                <input type="checkbox" name="answer1" value="장애인" onclick='checkOnlyOne(this)'
                    id="before-1-2"><label for="before-1-2"> persons with disabilities (장애인)</label></div>
                <div>
                <input type="checkbox" name="answer1" value="장애우" onclick='checkOnlyOne(this)'
                    id="before-1-3"><label for="before-1-3"> handicapped (장애우)</label></div>
                <div>
                <input type="checkbox" name="answer1" value="불구자" onclick='checkOnlyOne(this)'
                    id="before-1-4"><label for="before-1-4"> cripple (불구자)</label></div>
            </div>
        </div>

        <div class="Q2 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #2</h3>
                <span>Choose the correct answer.</span>
                <div class="QS">
                    What is the proportion of registered persons with disabilities in Korea?
                </div>
                <div>
                <input type="checkbox" name="answer2" value="1.5%" onclick='checkOnlyOne(this)'
                    id="before-2-1"><label for="before-2-1"> 1.5 %</label></div>
                <div>
                <input type="checkbox" name="answer2" value="3%" onclick='checkOnlyOne(this)'
                    id="before-2-2"><label for="before-2-2"> 3 %</label></div>
                <div>
                <input type="checkbox" name="answer2" value="5%" onclick='checkOnlyOne(this)'
                    id="before-2-3"><label for="before-2-3"> 5 %</label></div>
                <div>
                <input type="checkbox" name="answer2" value="9%" onclick='checkOnlyOne(this)'
                    id="before-2-4"><label for="before-2-4"> 9 %</label></div>
                <div>
                <input type="checkbox" name="answer2" value="11%" onclick='checkOnlyOne(this)'
                    id="before-2-5"><label for="before-2-5">11 %</label></div>
            </div>
        </div>

        <div class="Q3 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #3</h3>
                <span>Choose the correct answer.</span>
                <div class="QS">
                    Among all the disabled people in Korea, 
                    the percentage of the acquired disabilities due to accident or disease is 
                    “?” out of 10 people.
                </div>
                <label for="before-3-1"><input type="checkbox" name="answer3" value="2"
                        onclick='checkOnlyOne(this)' id="before-3-1"> 2 </label>
                <label for="before-3-2"><input type="checkbox" name="answer3" value="4"
                        onclick='checkOnlyOne(this)' id="before-3-2"> 4 </label>
                <label for="before-3-3"><input type="checkbox" name="answer3" value="6"
                        onclick='checkOnlyOne(this)' id="before-3-3"> 6 </label>
                <label for="before-3-4"><input type="checkbox" name="answer3" value="8"
                        onclick='checkOnlyOne(this)' id="before-3-4"> 8 </label>
                <label for="before-3-5"><input type="checkbox" name="answer3" value="9"
                        onclick='checkOnlyOne(this)' id="before-3-5"> 9 </label>
            </div>
        </div>

        <div class="Q4 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #4</h3>
                <span>Choose the correct answer.</span>
                <div class="QS">
                    All types of disability are visible(can be seen by the naked eye). <br>
                 </div>
                <label for="before-4-1"><input type="checkbox" name="answer4" value="O"
                        onclick='checkOnlyOne(this)' id="before-4-1"> O </label>
                <label for="before-4-2"><input type="checkbox" name="answer4" value="X"
                        onclick='checkOnlyOne(this)' id="before-4-2"> X </label>
            </div>
        </div>

        <div class="Q5 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #5</h3>
                <span>Choose the correct answer.</span>
                <div class="QS">
                    It is educational for students with disability 
                    to attend special-education schools.
                </div>
                <label for="before-5-1"><input type="checkbox" name="answer5" value="O"
                        onclick='checkOnlyOne(this)' id="before-5-1"> O </label>
                <label for="before-5-2"><input type="checkbox" name="answer5" value="X"
                        onclick='checkOnlyOne(this)' id="before-5-2"> X </label>
            </div>
        </div>

        <div class="Q6 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #6</h3>
                <span>Choose the correct answer.</span>
                <div class="QS" >
                    We should help persons with disabilities as fast as we can,
                     whenever they seem to need help.
                </div>
                <label for="before-6-1"><input type="checkbox" name="answer6" value="O"
                        onclick='checkOnlyOne(this)' id="before-6-1"> O </label>
                <label for="before-6-2"><input type="checkbox" name="answer6" value="X"
                        onclick='checkOnlyOne(this)' id="before-6-2"> X </label>
            </div>
        </div>

        <div class="Q7 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #7</h3>
                <span>Choose the correct answer.</span>
                <div class="QS" style="font-size: 1.5em;">
                    'This Act' was enacted on April 10, 2007, 
                    and enforced on April 11, 2008.
                    It aims to prohibit discrimination against persons with disabilities of all kinds
                    and effectively protect their rights and interests.
                    It also realizes their dignity and value as a human being 
                    and fosters their full social participation. 
                    What is 'this Act'?
                </div>
                <label for="before-7-1"><input type="checkbox" name="answer7" value="장애인 고용촉진법"
                        onclick='checkOnlyOne(this)' id="before-7-1"> The Employment Promotion and Vocational Rehabilitation for Disabled Person Act </label>
                <label for="before-7-2"><input type="checkbox" name="answer7" value="장애인 권리보장법"
                        onclick='checkOnlyOne(this)' id="before-7-2"> People with Disabilities Rights Protection Act </label>
                <label for="before-7-3"><input type="checkbox" name="answer7" value="장애인 차별금지법"
                        onclick='checkOnlyOne(this)' id="before-7-3"> The Disability Discrimination Act</label>
                <label for="before-7-4"><input type="checkbox" name="answer7" value="장애인복지법"
                        onclick='checkOnlyOne(this)' id="before-7-4"> Disabled Person Welfare Law  </label>
            </div>
        </div>

        <div class="Q8 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #8</h3>
                <span>Choose the correct answer.</span>
                <div class="QS">
                    People with mental illness are more likely to commit crimes.
                </div>

                <label for="before-8-1"><input type="checkbox" name="answer8" value="O"
                        onclick='checkOnlyOne(this)' id="before-8-1"> O </label>
                <label for="before-8-2"><input type="checkbox" name="answer8" value="X"
                        onclick='checkOnlyOne(this)' id="before-8-2"> X </label>
            </div>
        </div>

        <div class="Q9 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #9</h3>
                <span>Choose the correct answer.</span>
                <div class="QS">
                    Currently, Korea adopt the disability grading system ranging from 1 to 6.
                </div>

                <label for="before-9-1"><input type="checkbox" name="answer9" value="O"
                        onclick='checkOnlyOne(this)' id="before-9-1"> O </label>
                <label for="before-9-2"><input type="checkbox" name="answer9" value="X"
                        onclick='checkOnlyOne(this)' id="before-9-2"> X </label>
            </div>
        </div>

        
        <div class="Q10 swiper-slide question-slide">
            <div class="question-container">
                <h3>Question #10</h3>
                <span>Choose the correct answer.</span>
                <div class="QS" style="font-size: 1.5em;">
                    'These films' are made with audio descriptions to explain what is happening on the screen,
                    or subtitles that relate narration and dialogue, music and sound information,
                    so that everyone including people with hearing or visual impairments, could enjoy the films.
                    What are 'these films'?
                </div>
                <div>
                <label for="before-10-1"><input type="checkbox" name="answer10" value="자동해설영화"
                        onclick='checkOnlyOne(this)' id="before-10-1"> automatic narrative films </label></div>
                <div>
                <label for="before-10-2"><input type="checkbox" name="answer10" value="배리어프리 영화"
                        onclick='checkOnlyOne(this)' id="before-10-2"> barrier-free films</label></div>
                <div>
                <label for="before-10-3"><input type="checkbox" name="answer10" value="화면해설 영화"
                        onclick='checkOnlyOne(this)' id="before-10-3"> films with Descriptive Video Service (DVS) </label></div>
                <div>
                <label for="before-10-4"><input type="checkbox" name="answer10" value="음향자막 영화"
                        onclick='checkOnlyOne(this)' id="before-10-4"> Audio Described (AD) films </label></div>
                <button type="button" class="btn btn-submit btn-lg" id="submitAfterTest"
                onclick="submitAfter()">제출하기</button>
            </div>
        </div>
    </form>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>