<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="pics/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="pics/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="pics/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="pics/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="pics/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="pics/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="pics/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="pics/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="pics/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="pics/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="pics/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="pics/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="pics/favicon/favicon-16x16.png">
<link rel="manifest" href="pics/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="pics/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.css"
    integrity="sha512-zamNaJKO5w/Mas6MRe/0y1k2iI0oBLkU/z4yXcXSuAiOEBYqahjU6uOWq3r5z491YZexyUbPOrQKMpaAS8PI+w=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.css"
    integrity="sha512-T9Nrm9JU37BvYFgjYGVYc8EGnpd3nPDz/NY19X6gsNjb0VHorik8KDBljLHvqWdqz9igNqTBvZY4oCJQer4Xtg=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="./owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="./owlcarousel/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.js"
    integrity="sha512-VfcksjYXPZW36rsAGxeRGdB0Kp/htJF9jY5nlofHtRtswIB+scY9sbCJ5FdpdqceRRkpFfHZ3a9AHuoL4zjG5Q=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.js"
    integrity="sha512-VfcksjYXPZW36rsAGxeRGdB0Kp/htJF9jY5nlofHtRtswIB+scY9sbCJ5FdpdqceRRkpFfHZ3a9AHuoL4zjG5Q=="
    crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/5b83e74e73.js"></script>
<!-- jQuery -->
<script src="./script/jquery.min.js"></script>
<!--BootSTrapCDN-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<!-- custom css -->
<link rel="stylesheet" href="style.css">
<!-- custom script -->
<script src="./script/chartArguments.js"></script>
<!-- chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
<!-- animation: greensock -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"
    integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"
    integrity="sha512-QcYm1q7RbnXmwY7HJ0H7938IS0MalTPYqGUF0fIwQgEjMBt2tqjDBt+R5I+ppdwEohjMdHnFU0H+RxmrGQ8qcg=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollToPlugin.min.js"
    integrity="sha512-9DDJWj17gkdeGHU0Zr76wc9jY2g0IwE7ZCIxakVYKyzlTiOWZDZJOTaVgAzNo+LB7+EbGXxwCXkOP+a5rgkuqQ=="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<title>Solution Challenge</title>