<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- carousel -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">
    <script src="https://use.fontawesome.com/5b83e74e73.js"></script>
    <script src="../public/script/jquery.min.js"></script>
    <!-- custom script -->
    <script src="../public/script/chartArguments.js"></script>
    <!-- chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>
    <!-- animation: greensock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"
        integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"
        integrity="sha512-QcYm1q7RbnXmwY7HJ0H7938IS0MalTPYqGUF0fIwQgEjMBt2tqjDBt+R5I+ppdwEohjMdHnFU0H+RxmrGQ8qcg=="
        crossorigin="anonymous"></script>
    <title>Solution Challenge</title>
</head>
<body>
    <div class="main_top">
        <div class="img_container">
            <img class="main_image" id="firstImage" src="pics/Main1.jpg" alt="두 사람이 나란히 가는 사진">
        </div>
        <div class="top">
            <div class="text_container">
                <div class="grid_item0">
                    <div class="main_text">
                        <span>Barrier-Free</span>
                    </div>
                    <div class="main_text">
                        <span>B-Free</span>
                    </div>
                </div>
                <div class="grid_item0">
                    <div class="sub_text">
                        <span>편견과 차별의 벽을 부수어 모두가 자유롭게 살 수 있는 세상을 꿈꿉니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- 인식개선 테스트 div -->
    <div id="wrapper">
        <div id="slider-wrap">
            <form name="before">
                <ul id="slider">
                    <li class="Q1">
                        <div>
                            <h3>Question #1</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                장애를 가진 사람이라는 의미의<br>단어로서 옳은 표현은 무엇일까요?
                            </div>
                            <label><input type="checkbox" name="answer1" value="장애자" onclick='checkOnlyOne(this)'> 장애자</label>
                            <label><input type="checkbox" name="answer1" value="장애인" onclick='checkOnlyOne(this)'> 장애인</label>
                            <label><input type="checkbox" name="answer1" value="장애우" onclick='checkOnlyOne(this)'> 장애우</label>
                            <label><input type="checkbox" name="answer1" value="불구자" onclick='checkOnlyOne(this)'> 불구자</label>
                        </div>
                    </li>

                    <li class="Q2">
                        <div>
                            <h3>Question #2</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                대한민국 전체인구 중 장애인의<br>비율은 몇 %일까요?
                            </div>
                            <label><input type="checkbox" name="answer2" value="1.5%" onclick='checkOnlyOne(this)'> 1.5 %</label>
                            <label><input type="checkbox" name="answer2" value="3%" onclick='checkOnlyOne(this)'> 3 %</label>
                            <label><input type="checkbox" name="answer2" value="5%" onclick='checkOnlyOne(this)'> 5 %</label>
                            <label><input type="checkbox" name="answer2" value="9%" onclick='checkOnlyOne(this)'> 9 %</label>
                            <label><input type="checkbox" name="answer2"value="11%" onclick='checkOnlyOne(this)'> 11 %</label>
                        </div>
                    </li>

                    <li class="Q3">
                        <div>
                            <h3>Question #3</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                우리나라의 전체 장애인 중,<br>사고나 질환 등의 후천적인 원인으로<br>
                                장애가 발생한 비율은 10명 중,<br> "?"명 꼴입니다.
                            </div>
                            <label><input type="checkbox" name="answer3" value="2" onclick='checkOnlyOne(this)'> 2 명</label>
                            <label><input type="checkbox" name="answer3" value="4" onclick='checkOnlyOne(this)'> 4 명</label>
                            <label><input type="checkbox" name="answer3" value="6" onclick='checkOnlyOne(this)'> 6 명</label>
                            <label><input type="checkbox" name="answer3" value="8" onclick='checkOnlyOne(this)'> 8 명</label>
                            <label><input type="checkbox" name="answer3" value="9" onclick='checkOnlyOne(this)'> 9 명</label>
                        </div>
                    </li>

                    <li class="Q4">
                        <div>
                            <h3>Question #4</h3>
                            <span>O / X 문제입니다.</span>
                            <div class="QS">
                                뇌병변 장애인은 지능이 낮다.
                            </div>
                            <label><input type="checkbox" name="answer4" value="O" onclick='checkOnlyOne(this)'> O </label>
                            <label><input type="checkbox" name="answer4" value="X" onclick='checkOnlyOne(this)'> X </label>
                        </div>
                    </li>

                    <li class="Q5">
                        <div>
                            <h3>Question #5</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                우리나라에 등록된 장애 유형 중<br>가장 높은 비율을 차지하고 있는<br>
                                유형은 무엇일까요?
                            </div>
                            <label><input type="checkbox" name="answer5" value="지체장애" onclick='checkOnlyOne(this)'> 지체장애</label>
                            <label><input type="checkbox" name="answer5" value="시각장애" onclick='checkOnlyOne(this)'> 시각장애</label>
                            <label><input type="checkbox" name="answer5" value="심장장애" onclick='checkOnlyOne(this)'> 심장장애</label>
                            <label><input type="checkbox" name="answer5" value="지적장애" onclick='checkOnlyOne(this)'> 지적장애</label>
                        </div>
                    </li>

                    <li class="Q6">
                        <div>
                            <h3>Question #6</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                장애인 차별 금지법은<br> 
                                언제 제정되었을까요?
                            </div>
                            <label><input type="checkbox" name="answer6" value="1988" onclick='checkOnlyOne(this)'> 1988년</label>
                            <label><input type="checkbox" name="answer6" value="2007" onclick='checkOnlyOne(this)'> 2007년</label>
                            <label><input type="checkbox" name="answer6" value="2016" onclick='checkOnlyOne(this)'> 2016년</label>
                            <label><input type="checkbox" name="answer6" value="2008" onclick='checkOnlyOne(this)'> 2008년</label>
                        </div>
                    </li>

                    <li class="Q7">
                        <div>
                            <h3>Question #7</h3>
                            <span>O / X 문제입니다.</span>
                            <div class="QS">
                                정신장애인은 범죄자가 될 확률이 높다.
                            </div>
                            <label><input type="checkbox" name="answer7" value="O" onclick='checkOnlyOne(this)'> O </label>
                            <label><input type="checkbox" name="answer7" value="X" onclick='checkOnlyOne(this)'> X </label>
                        </div>
                        <button type="button" onclick="submitBefore()">제출</button>
                    </li>
                </ul>

                <!--controls-->
                <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
                <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
                <div id="counter"></div>
                <div id="pagination-wrap">
                    <ul></ul>
                </div>
                <!--controls-->
                <div>
                    <button type="button" onclick="submitBefore()">제출</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 인식개선 테스트 div -->
    <div id="wrapper">
        <div id="slider-wrap">
            <form name="before">
                <ul id="slider">
                    <li class="Q1">
                        <div>
                            <h3>Question #1</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                장애를 가진 사람이라는 의미의<br>단어로서 옳은 표현은 무엇일까요?
                            </div>
                            <label><input type="checkbox" name="answer1" value="장애자" onclick='checkOnlyOne(this)'> 장애자</label>
                            <label><input type="checkbox" name="answer1" value="장애인" onclick='checkOnlyOne(this)'> 장애인</label>
                            <label><input type="checkbox" name="answer1" value="장애우" onclick='checkOnlyOne(this)'> 장애우</label>
                            <label><input type="checkbox" name="answer1" value="불구자" onclick='checkOnlyOne(this)'> 불구자</label>
                        </div>
                    </li>

                    <li class="Q2">
                        <div>
                            <h3>Question #2</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                대한민국 전체인구 중 장애인의<br>비율은 몇 %일까요?
                            </div>
                            <label><input type="checkbox" name="answer2" value="1.5%" onclick='checkOnlyOne(this)'> 1.5 %</label>
                            <label><input type="checkbox" name="answer2" value="3%" onclick='checkOnlyOne(this)'> 3 %</label>
                            <label><input type="checkbox" name="answer2" value="5%" onclick='checkOnlyOne(this)'> 5 %</label>
                            <label><input type="checkbox" name="answer2" value="9%" onclick='checkOnlyOne(this)'> 9 %</label>
                            <label><input type="checkbox" name="answer2"value="11%" onclick='checkOnlyOne(this)'> 11 %</label>
                        </div>
                    </li>

                    <li class="Q3">
                        <div>
                            <h3>Question #3</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                우리나라의 전체 장애인 중,<br>사고나 질환 등의 후천적인 원인으로<br>
                                장애가 발생한 비율은 10명 중,<br> "?"명 꼴입니다.
                            </div>
                            <label><input type="checkbox" name="answer3" value="2" onclick='checkOnlyOne(this)'> 2 명</label>
                            <label><input type="checkbox" name="answer3" value="4" onclick='checkOnlyOne(this)'> 4 명</label>
                            <label><input type="checkbox" name="answer3" value="6" onclick='checkOnlyOne(this)'> 6 명</label>
                            <label><input type="checkbox" name="answer3" value="8" onclick='checkOnlyOne(this)'> 8 명</label>
                            <label><input type="checkbox" name="answer3" value="9" onclick='checkOnlyOne(this)'> 9 명</label>
                        </div>
                    </li>

                    <li class="Q4">
                        <div>
                            <h3>Question #4</h3>
                            <span>O / X 문제입니다.</span>
                            <div class="QS">
                                뇌병변 장애인은 지능이 낮다.
                            </div>
                            <label><input type="checkbox" name="answer4" value="O" onclick='checkOnlyOne(this)'> O </label>
                            <label><input type="checkbox" name="answer4" value="X" onclick='checkOnlyOne(this)'> X </label>
                        </div>
                    </li>

                    <li class="Q5">
                        <div>
                            <h3>Question #5</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                우리나라에 등록된 장애 유형 중<br>가장 높은 비율을 차지하고 있는<br>
                                유형은 무엇일까요?
                            </div>
                            <label><input type="checkbox" name="answer5" value="지체장애" onclick='checkOnlyOne(this)'> 지체장애</label>
                            <label><input type="checkbox" name="answer5" value="시각장애" onclick='checkOnlyOne(this)'> 시각장애</label>
                            <label><input type="checkbox" name="answer5" value="심장장애" onclick='checkOnlyOne(this)'> 심장장애</label>
                            <label><input type="checkbox" name="answer5" value="지적장애" onclick='checkOnlyOne(this)'> 지적장애</label>
                        </div>
                    </li>

                    <li class="Q6">
                        <div>
                            <h3>Question #6</h3>
                            <span>정답을 골라보세요.</span>
                            <div class="QS">
                                장애인 차별 금지법은<br> 
                                언제 제정되었을까요?
                            </div>
                            <label><input type="checkbox" name="answer6" value="1988" onclick='checkOnlyOne(this)'> 1988년</label>
                            <label><input type="checkbox" name="answer6" value="2007" onclick='checkOnlyOne(this)'> 2007년</label>
                            <label><input type="checkbox" name="answer6" value="2016" onclick='checkOnlyOne(this)'> 2016년</label>
                            <label><input type="checkbox" name="answer6" value="2008" onclick='checkOnlyOne(this)'> 2008년</label>
                        </div>
                    </li>

                    <li class="Q7">
                        <div>
                            <h3>Question #7</h3>
                            <span>O / X 문제입니다.</span>
                            <div class="QS">
                                정신장애인은 범죄자가 될 확률이 높다.
                            </div>
                            <label><input type="checkbox" name="answer7" value="O" onclick='checkOnlyOne(this)'> O </label>
                            <label><input type="checkbox" name="answer7" value="X" onclick='checkOnlyOne(this)'> X </label>
                        </div>
                        <button type="button" onclick="submitAfter()">제출</button>
                    </li>
                </ul>

                <!--controls-->
                <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
                <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
                <div id="counter"></div>
                <div id="pagination-wrap">
                    <ul></ul>
                </div>
                <!--controls-->
                <div>
                    <button type="button" onclick="submitAfter()">제출</button>
                </div>
            </form>
        </div>
    </div>





    <!-- 메인 중단 -->
    <div class="main_middle">
        <div class="carousel-container">
            <div class="swiper-container">
                <div id="carousel" class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="carousel_img" src="pics/carousel/carousel-1-1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img class="carousel_img" src="pics/carousel/carousel-2-1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img class="carousel_img" src="pics/carousel/carousel-3-1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img class="carousel_img" src="pics/carousel/carousel-4-1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img class="carousel_img" src="pics/carousel/carousel-1-2.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img class="carousel_img" src="pics/carousel/carousel-2-2.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img class="carousel_img" src="pics/carousel/carousel-3-2.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img class="carousel_img" src="pics/carousel/carousel-4-2.jpg">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

        <script>
            // swiper
            const swiper = new Swiper('.swiper-container', {
                // Optional parameters
                direction: 'horizontal',
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            })

            gsap.registerPlugin(ScrollTrigger);
            gsap.from('.swiper-container', {
                scrollTrigger: {
                    trigger: '.swiper-container',
                    toggleActions: 'play reset play reset'
                },
                y: 50,
                duration: 1
            })
        </script>


        <!-- The first statistics : the number of the people with disability -->
        <div class="overlay stat">
            <div class="title">
                <div class="number_container grid_item2">
                    <div class="numbers">
                        <span class="number">5</span><span class="percentage">%</span>
                    </div>
                </div>
                <div class="headline grid_item2">
                    <div class="text1">
                        20명 중 1명
                    </div>
                    <div class="text2">
                        우리나라의 장애인 추정수는 2,668,411명, 전체 인구의 약 5%
                    </div>
                </div>
            </div>
            <div class="pict_container grid_item2">
                <div class="pictogram">
                    <div class="hover_icon" id="hover_icon1">
                        <div class="arrow"></div>
                        <div class="background" data-index="1">
                            <div class="color_box_hover">

                            </div>
                            <div class="label_hover">
                                장애를 가진 사람: 5.39%
                            </div>
                        </div>
                    </div>
                    <div class="hover_icon" id="hover_icon2">
                        <div class="arrow"></div>
                        <div class="background" data-index="2">
                            <div class="color_box_hover">
                            </div>
                            <div class="label_hover">
                                장애를 가지지 않은 사람: 94.61%
                            </div>
                        </div>
                    </div>
                    <div class="pictogram_controls">
                        <div class="control" data-index="1">
                            <div class="color_box">

                            </div>
                            <div class="label">
                                장애를 가진 사람
                            </div>
                        </div>
                        <div class="control" data-index="2">
                            <div class="color_box">

                            </div>
                            <div class="label">
                                장애를 가지지 않은 사람
                            </div>
                        </div>
                    </div>
                    <div class="img_people">
                        <img class="img_person img_person1" src="pics/human1.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                    </div>
                    <div class="img_people">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                        <img class="img_person img_person2" src="pics/human2.svg" alt="사람">
                    </div>
                </div>
            </div>
            <span class="source grid_item2">
                자료 출처 : 2017년 장애인 실태조사
            </span>
            <div class="comment grid_item2">
                우리 모두 함께 살아가고 있습니다. 보이지 않는다고 해서 없다고 생각하는 것은 편견이 될 수 있습니다.
            </div>
        </div>
        <!-- Second Statistic : the cause of the disability -->
        <div class="overlay stat">
            <div class="title">
                <div class="number_container grid_item2" style="border-color:#D87E40">
                    <div class="numbers">
                        <span class="number" style="color:#D87E40">9</span><span class="percentage"
                            style="color:#D87E40">명</span>
                    </div>
                </div>
                <div class="headline grid_item2">
                    <div class="text1">
                        10명 중 9명
                    </div>
                    <div class="text2">
                        장애 원인 중, 88.1%는 후천적 원인
                    </div>
                </div>
            </div>
            <div class="pict_container grid_item2">
                <div class="pictogram">
                    <canvas id="chart1"></canvas>
                    <script>
                        let chart = new Chart(document.getElementById('chart1').getContext('2d'), chartArguments[0].chartConfig);
                    </script>
                </div>
            </div>
            <span class="source grid_item2">
                자료 출처 : 2017년 장애인 실태조사
            </span>
            <div class="comment grid_item2">
                장애는 후천적인 원인이 훨씬 많습니다. 장애는 누구나 언제든 얻게 될 수 있습니다. 장애를 특별한 것이라고 바라보는 자세는 차별의 시선이 될 수 있습니다.
            </div>
        </div>

        <!-- The third statistics -->
        <div class="overlay stat">
            <div class="title">
                <div class="number_container grid_item2" style="border-color:#68B1B2">
                    <div class="numbers">
                        <span class="number" style="color:#68B1B2; font-size:60px">60.7</span><span class="percentage"
                            style="color:#68B1B2; font-size:40px; top:0">%</span>
                    </div>
                </div>
                <div class="headline grid_item2">
                    <div class="text1">
                        절반 이상이 잘 알지 못합니다.
                    </div>
                    <div class="text2">
                        '모른다'라고 답한 비율, 60.7%
                    </div>
                </div>
            </div>
            <div class="pict_container grid_item2">
                <div class="pictogram">
                    <canvas id="chart2"></canvas>
                    <script>
                        let chart2 = new Chart(document.getElementById('chart2').getContext('2d'), chartArguments[1].chartConfig);
                    </script>
                </div>
            </div>
            <span class="source grid_item2">
                자료 출처 : 2017년 장애인 실태조사
            </span>
            <div class="comment grid_item2">
                2008년에 제정된 장애인 차별 금지법은 제정된지 13년이 지났습니다.
                아직 장애인분들 중에서도 이 법에 대해서 잘 모르시는 분들이 많습니다.
            </div>
        </div>
        <!-- The Fourth statistic -->
        <div class="overlay stat">
            <div class="title">
                <div class="number_container grid_item2" style="border-color:#D5564C">
                    <div class="numbers">
                        <span class="number" style="color:#D5564C; font-size:60px">48.9</span><span class="percentage"
                            style="color:#D5564C; font-size:40px; top:0">%</span>
                    </div>
                </div>
                <div class="headline grid_item2">
                    <div class="text1">
                        우리나라의 장애 유형은 15가지
                    </div>
                    <div class="text2">
                        장애 유형별 중 지체 장애의 구성비, 48.9%
                    </div>
                </div>
            </div>
            <div class="pict_container grid_item2">
                <div class="pictogram">
                    <canvas id="chart3"></canvas>
                    <script>
                        let chart3 = new Chart(document.getElementById('chart3').getContext('2d'), chartArguments[2].chartConfig);
                    </script>
                </div>
            </div>
            <span class="source grid_item2">
                자료 출처 : 2017년 장애인 실태조사
            </span>
            <div class="comment grid_item2">
                우리나라의 장애 유형은 15가지로 나뉘어 집니다. 또한, 그중에 가장 많은 비율을 차지하는 장애 유형은 지체장애입니다.
            </div>
        </div>
        <!-- The fifth statistic -->
        <div class="overlay stat">
            <div class="title">
                <div class="number_container grid_item2">
                    <div class="numbers">
                        <span class="number">15</span><span class="percentage">배</span>
                    </div>
                </div>
                <div class="headline grid_item2">
                    <div class="text1">
                        장애가 범죄의 원인이 될 수는 없습니다.
                    </div>
                    <div class="text2">
                        정신 장애인의 범죄율, 0.08%
                    </div>
                </div>
            </div>
            <div class="pict_container grid_item2">
                <div class="pictogram">
                    <canvas id="chart4"></canvas>
                    <script>
                        let chart4 = new Chart(document.getElementById('chart4').getContext('2d'), chartArguments[3].chartConfig);
                    </script>
                </div>
            </div>
            <span class="source grid_item2">
                자료 출처 : 2017년 대검찰청 범죄분석 보고서
            </span>
            <div class="comment grid_item2">
                장애가 범죄의 원인이 될 순 없습니다. 장애인이 범죄를 일으켰다고 해서 장애인은 범죄자라는 인식을 가져선 안됩니다. 통계적으로도 비장애인의 범죄율이 정신장애인의 범죄율보다 15배 높다고 조사되었습니다.
            </div>
        </div>
    </div>
    <script>
        gsap.registerPlugin(ScrollTrigger);
        let titles = gsap.utils.toArray('.title');
        titles.forEach(title => {
            gsap.from(title, {
                scrollTrigger: {
                    trigger: title,
                    toggleActions: 'play reset play reset'
                },
                y: 50,
                duration: 0.7
            })
        })

        let pict_containers = gsap.utils.toArray('.pict_container');
        let sources = gsap.utils.toArray('.source');
        pict_containers.forEach((pict, i) => {
            gsap.from([pict, sources[i]], {
                scrollTrigger: {
                    trigger: pict,
                    toggleActions: 'play reset play reset'
                },
                y: 50,
                duration: 0.7
            })
        })

        let comments = gsap.utils.toArray('.comment');
        comments.forEach(comment => {
            gsap.from(comment, {
                scrollTrigger: {
                    trigger: comment,
                    toggleActions: 'play reset play reset'
                },
                y: 50,
                duration: 0.7
            })
        })
    </script>
    

    <div class="main_Bottom">

    </div>

    <script src="../public/script/chartUtil.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>
    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyAVt-_fI6MSB8dAg12JLRUp09xOZ5u6Xdg",
            authDomain: "wsc-solutionchallenge.firebaseapp.com",
            projectId: "wsc-solutionchallenge",
            storageBucket: "wsc-solutionchallenge.appspot.com",
            messagingSenderId: "754732889096",
            appId: "1:754732889096:web:f487414a8a5141b1054dbd",
            measurementId: "G-MJ2ZQ8149X"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>

    <script type="text/javascript"> 
        function checkOnlyOne(element) { //체크박스 한 개만 선택되도록 하는 함수
            var formN = element.name;
            var checkboxes = document.getElementsByName(formN) ;
            checkboxes.forEach((cb) => {
                cb.checked = false;
            })
            element.checked = true;
            console.log(element.value);
        }

        function answerCheck() { 
            //정답처리 및 점수처리를 어떻게 할지?
        }
    </script>

    <script type="text/javascript"> //슬라이드 기능 js
        //current position
        var pos = 0;
        //number of slides
        var totalSlides = $('#slider-wrap ul li').length;
        //get the slide width
        var sliderWidth = $('#slider-wrap').width();


        $(document).ready(function () {
            /*****************
             BUILD THE SLIDER
            *****************/
            //set width to be 'x' times the number of slides
            $('#slider-wrap ul#slider').width(sliderWidth * totalSlides);

            //next slide  
            $('#next').click(function () {
                slideRight();
            });

            //previous slide
            $('#previous').click(function () {
                slideLeft();
            });



            /*************************
             //*> OPTIONAL SETTINGS
            ************************/
            //automatic slider
            var autoSlider = setInterval(slideRight, 60000);

            //for each slide 
            $.each($('#slider-wrap ul li'), function () {

                //create a pagination
                var li = document.createElement('li');
                $('#pagination-wrap ul').append(li);
            });

            //counter
            countSlides();

            //pagination
            pagination();

            //hide/show controls/btns when hover
            //pause automatic slide when hover
            $('#slider-wrap').hover(
                function () { $(this).addClass('active'); clearInterval(autoSlider); },
                function () { $(this).removeClass('active'); autoSlider = setInterval(slideRight, 60000); }
            );



        });//DOCUMENT READY


        /***********
         SLIDE LEFT
        ************/
        function slideLeft() {
            pos--;
            if (pos == -1) { pos = totalSlides - 1; }
            $('#slider-wrap ul#slider').css('left', -(sliderWidth * pos));

            //*> optional
            countSlides();
            pagination();
        }

        /************
         SLIDE RIGHT
        *************/
        function slideRight() {
            pos++;
            if (pos == totalSlides) { pos = 0; }
            $('#slider-wrap ul#slider').css('left', -(sliderWidth * pos));

            //*> optional 
            countSlides();
            pagination();
        }


        /************************
         //*> OPTIONAL SETTINGS
        ************************/
        function countSlides() {
            $('#counter').html(pos + 1 + ' / ' + totalSlides);
        }

        function pagination() {
            $('#pagination-wrap ul li').removeClass('active');
            $('#pagination-wrap ul li:eq(' + pos + ')').addClass('active');
        }

    </script>

    <script>
        //before test form 제출 시, 호출되는 함수
        function submitBefore(){
            //serialize: form 태그내의 항목들을 자동으로 읽어와 queryString 형식으로 변환
            var queryString = $("form[name=before]").serialize();
            $.ajax({
                type: 'post',
                url: '/before',
                data: queryString,
                dataType: 'json',
                error: function(xhr, status, error){
                    console.log(error);
                }
            });
        }

        //after test form 제출 시, 호출되는 함수
        function submitAfter(){
            var queryString = $("form[name=after]").serialize();
            $.ajax({
                type: 'post',
                url: '/after',
                data: queryString,
                dataType: 'json',
                error: function(xhr, status, error){
                    console.log(error);
                }
            });
        }
    </script>
    
    <!-- socket communication -->
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        //이미 before, after test 모두 제출한 경우
        socket.on('alreadyAll', function(data){
            alert("이미 모든 테스트를 제출하셨습니다!");
            console.log(data);
        });
        //before 테스트를 정상적으로 제출한 경우
        socket.on('completeBefore', function(){
            alert("정상적으로 제출되었습니다!");
        });
        //이미 before test를 제출한 경우
        socket.on('alreadyBefore', function(){
            alert("이미 제출하셨습니다!");
        });
        //before test를 제출하지 않고, after test를 제출하려 한 경우
        socket.on('goBefore', function(){
            alert("서비스 초기에 보여진 테스트를 먼저 제출해주세요!");
        })
        //after 테스트를 정상적으로 제출한 경우
        socket.on('completeAfter', function(Count, Score){
            alert("정상적으로 제출되었습니다!");
        })

    </script>
</body>
</html>
