@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: -webkit-fill-available;
} 

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #FAF9F6;
    color: rgba(0,0,0,0.7);

    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

#page-transition {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0, 0.8);
    opacity: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-elem {
    width: 100%;
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 1vh;
    margin-left: 2vw;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    width: 5rem;
    height: 5rem;
}

.translation {
    margin-top: 1vh;
    margin-right: 4vw;
}

.translation-options {
    display: flex;
}

.translation-option {
    list-style-type: none;
    margin: 10px;
    color: #B3B5B9;
    font-size: 15px;
    font-weight: 900;
    transition: 0.5s;
}

.translation-option:hover {
    cursor: pointer;
}

#menu svg {
    width: 3rem;
    height: 3rem;
}

#menu .svg_comp {
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

#menu:hover .svg_comp {
    fill: #008B9F;
}

#path-menu {
    display: none;
    position: absolute;
}

#path-menu .path {
    list-style: none;
    margin: 7px 0;
}

#toTop:hover {
    color: #008B9F;
}

#toMiddle:hover {
    color: #008B9F;
}

#toBottom:hover {
    color: #008B9F;
}

.custom-button {
    position: relative;
    z-index: 999;
}

.img_container {
    position:absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: transparent;
}

.main_image {
    height: 100%;
    width: 100%;
    object-position: 65%;
    object-fit: cover;
}

.main_top {
    height: 100vh;
    width: 100%;
}

.top {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.text_container {
    margin-left: 3vw;
    padding: calc(85vh - (min(15vh, 13vw)*2 + min(3vh, 2vw)) - 3vh) 0 0 1vw;
}

.btn-container {
    display: flex;
    justify-content: flex-end;

    margin-right: 5vw;
    margin-bottom: 3vh;
}

.btn-container button {
    border: 1px solid white;
    background: transparent;
    color: white;
    transition: 0.5s;
}

.btn-container button:hover {
    background-color: white;
    color: rgba(0,0,0, 0.7);
}

#btn-after-test button {
    border: 1px solid #E0553F;
    background: transparent;
    color: #E0553F;
}

#btn-after-test button:hover {
    background-color: #E0553F;
    color: white;
}


.main_text>span {
    font-size: min(15vh, 13vw);
    font-weight: 900;
    line-height: 110%;

    color: white;
}

.sub_text {
    margin-top: 2vh;
    padding-left: 1vw;
}

.sub_text>span {
    font-size: min(3vh, 2vw);
    font-weight: 700;
    color: white;
}

/* before test */
.test {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.test-container {
    max-width:600px;
    height:400px;
}

.swiper-slide.question-slide {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container{
    width: 80%;
    height: 90%;
}

.question-container h3 {
    font-size:36px;
    text-transform:uppercase; 
}

.question-container span {
    font-size:15px;
}

.question-container .QS {
    margin: 20px 0;
    font-size: 30px;
}

.question-container label{
    margin-right: 20px;
}

.question-container label:hover{
    cursor: pointer;
}

.question-container input:hover{
    cursor: pointer;
}


.Q1 {
    background-color: #E0553F;
}

.Q2 {
  background-color: #FECE3E;
}

.Q3 {
  background-color: #3BAAD8;
}

.Q4 {
  background-color: #E07707;
}

.Q5 {
  background-color: #1B2B44;
}

.Q6 {
  background-color: #FECE3E;
}

.Q7 {
  background-color: #3BAAD8;
}


.result {
    background-color: #2E2E29;
}

.result-container{
    width: 600px;
    height: 400px;
    display: none;
}

.btn-submit {
    float: right;
    margin-top: 3rem;
    background-color: red;
}

.main_middle {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.carousel-container{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: 6rem 0;
}

.carousel-container .img_comment {
    z-index: 10;

    font-size: 3rem;
    font-weight: 700;
    align-self: flex-start;
}

#img-container {
    width: 90%;
    height: 75vh;
}

#carousel {
    margin: 30px 0;
}

.swiper-slide.img-slide {
    min-width: 90%;
    height: 75vh ;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.overlay {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.stat {
    margin-bottom: 3rem;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* error */
    /* width: 100vw;  */
    margin: 0 1rem;
}

.title .headline {
    padding-left: 3rem;
}

.pict_container {
    margin: 3rem 3rem 2rem 3rem;
}

.pictogram_controls {
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pictogram {
    max-width: 500px;
    /* min-width: 320px; */
    margin: 0 auto;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.source {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.comment {
    margin-top: 3rem;
    margin-left: 50%;
    margin-right: 10%;
    margin-bottom: 3rem;
}

.control {
    display: flex;
    align-items: center;
    margin: 0.3em;
}

.control:hover {
    cursor: pointer;
}

.control .color_box {
    width: 2.5em;
    height: 1em;
    margin: 0.3em;
}

.control[data-index="1"] .color_box {
    background-color: #E0553F;
}

.control[data-index="2"] .color_box {
    background-color: #787878;
}

.label {
    font-size: 15px;
    color:rgba(0,0,0, 0.7);
}

.hover_icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

#hover_icon1 {
    transform: translate(-40%, 0%);
}

#hover_icon2 {
    transform: translate(20%, 0%);
}

/* https://css-tricks.com/snippets/css/css-triangle/ */
.arrow {
    width: 0; 
    height: 0;
    left: 1;
    border-radius: 2px; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    
    border-right: 8px solid rgba(0,0,0); 
}

.background {
    height: 1.7em;
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
    background-color: rgba(0,0,0, 0.7);

    display: flex;
    justify-content: start;
    align-items: center;
}

.color_box_hover {
    width: 1rem;
    height: 1rem;
    margin: 0.3rem;
    display: inline-block;
    border: 1px solid white;
}

.label_hover {
    color: white;
}

.background[data-index="1"] .color_box_hover {
    background-color: #E0553F;
}

.background[data-index="2"] .color_box_hover {
    background-color: #787878;
}

.label_hover {
    margin: 0.3rem;
    font-size: 1vw;
}

.img_people {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img_person {
    width: 10%;
    height: auto;
}

.infographic {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.number_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 180px;
    border-radius: 90px; 
}

.overlay[data-color-index="0"] .number_container {
    border: 2px solid #E0553F;
}

.overlay[data-color-index="0"] .numbers {
    color: #E0553F;
}

.overlay[data-color-index="1"] .number_container {
    border: 2px solid #FECE3E;
}

.overlay[data-color-index="1"] .numbers {
    color: #FECE3E;
}


.overlay[data-color-index="2"] .number_container {
    border: 2px solid #3BAAD8;
}

.overlay[data-color-index="2"] .numbers {
    color: #3BAAD8;
}

.overlay[data-color-index="3"] .number_container {
    border: 2px solid #E07707;
}

.overlay[data-color-index="3"] .numbers {
    color: #E07707;
}

.overlay[data-color-index="4"] .number_container {
    border: 2px solid #1B2B44;
}

.overlay[data-color-index="4"] .numbers {
    color: #1B2B44;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50%;
}

.number {
    position: relative;
    font-weight: 900;
    font-size:  70px;
    line-height: 100%;
    top: -10px;
}

.number.small {
    font-size:  50px;
}

.percentage {
    position: relative;
    font-weight: 900;
    font-size: 35px;
    line-height: 100%;
    top: 10px;
}

.percentage.small {
    top: 0;
    font-size:  30px;
}

.text1 {
    font-weight: 700;
    font-size: 50px;
}

.text2 {
    font-weight: 700;
    font-size: 30px;
}

.source {
    font-weight: 100;
    font-size: 15px;
}

.comment {
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 1000px) and (min-width:910px) {
    .number_container {
        width: 160px;
        height: 160px;
        border-radius: 80px; 
    }
    
    .number {
        font-size: 50px;
    }

    .title .headline {
        padding-left: 1rem;
    }
    
    .text1 {
        font-size: 45px;
    }
    
    .text2 {
        font-size: 25px;
    }
    
    .comment {
        font-size: 15px;
    }
}

@media (max-width: 910px) and (min-width:750px)  {

    .number_container {
        width: 120px;
        height: 120px;
        border-radius: 60px; 
    }
    
    .number {
        font-size: 50px;
    }

    .title .headline {
        padding-left: 1rem;
    }
    .number.small {
        top: -5px;
        font-size:  35px;
    }

    .percentage.small {
        top: 0;
        font-size:  20px;
    }
    
    .percentage {
        font-size: 20px;
    }

    .text1 {
        font-size: 35px;
    }
    
    .text2 {
        font-size: 20px;
    }
    
    .comment {
        font-size: 15px;
    }
}

@media (max-width: 750px) and (min-width: 550px) {
    .number_container {
        width: 100px;
        height: 100px;
        border-radius: 50px; 
    }
    
    .number {
        top: -5px;
        font-size: 35px;
    }

    .title .headline {
        padding-left: 1rem;
    }

    .number.small {
        top: -5px;
        font-size:  25px;
    }
    
    .percentage {
        top: 0;
        font-size: 15px;
    }

    .percentage.small {
        font-size: 15px;
    }

    .text1 {
        font-size: 25px;
    }
    
    .text2 {
        font-size: 15px;
    }

    .control .color_box {
        width: 2em;
        height: 0.8em;
    }

    .label {
        font-size: 12px;
    }

    .source {
        margin-right: auto;
        font-size: 13px;
    }
    
    .comment {
        margin-left: 35vw;
        margin-right: 10vw;
        font-size: 15px;
    }
}

@media (max-width: 550px) {

    .logo img {
        width: 4rem;
        height: 4rem;
    }

    .translation-option {
        font-size: 12px;
    }

    .question-container .QS {
        margin: 20px 0;
        font-size: 25px;
    }

    .number_container {
        max-width: 80px;
        max-height: 80px;
        border-radius: 40px; 
    }
    
    .number {
        top: -5px;
        font-size: 30px;
    }

    .title .headline {
        padding-left: 1rem;
    }

    .number.small {
        top: -3px;
        font-size: 20px;
    }
    
    .percentage {
        top: 0;
        font-size: 15px;
    }

    .percentage.small {
        font-size: 15px;
    }

    .text1 {
        font-size: 20px;
    }
    
    .text2 {
        font-size: 13px;
    }

    .control .color_box {
        width: 2em;
        height: 0.8em;
    }

    .label {
        font-size: 10px;
    }

    .source {
        margin-right: auto;
        font-size: 11px;
    }
    
    .comment {
        margin-left: 35vw;
        margin-right: 10vw;
        font-size: 15px;
    }

    .carousel-container {
        height: 60vh;
        margin: 4rem 0;
    }

    #img-container {
        height: 50vh;
    }

    #carousel {
        margin: 0;
    }

    .swiper-slide.img-slide {
        height: 50vh;
    }
    .carousel-container .img_comment {
        font-size: 1.7rem;
    }
}

@media (max-width: 600px) {
    .result-container {
        width: 100%;
    }
}


.main_bottom {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* feedback chart css */
.score_chart {
    display: flex;
}

/* 회전초밥 css */
.owl-dots{display:none;}
.owl-item img{
    height: 40px;
}
.customPrevBtn, .customNextBtn{
    background : none;
    border: none;
    color: #999999;
    font-size: 20px;
    font-weight: bold;
}
@media(max-width:768px){
    .pbPrevBtn, .pbNextBtn{
        display: none;
    }
}

.owl-carousel {
    position: static;
}

.owl-carousel .item {
    /* height: 10rem; */
    background: #4DC7A0;
    /* padding: 1rem; */
    margin: 20px;

    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;

}

.owl-carousel .item img {
    width: 100%;
    height: 100%;
}


.owl-carousel .item:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
