@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #FAF9F6;
    color: rgba(0,0,0,0.7);

    width: 100vw;
}

.img_container {
    position:absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background: transparent;
}

.main_image {
    height: 100%;
    width: 100%;
    object-position: 65%;
    object-fit: cover;
}

.top {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.4);
}

.text_container {
    margin-left: 3vw;
    padding: calc(85vh - (min(15vh, 13vw)*2 + min(3vh, 2vw))) 0 0 1vw;
}

.main_text>span {
    font-size: min(15vh, 13vw);
    font-weight: 900;
    line-height: 110%;

    color: white;
}

.sub_text {
    margin-top: 2vh;
    padding-left: 1vw;
}

.sub_text>span {
    font-size: min(3vh, 2vw);
    font-weight: 700;
    color: white;
}

/* before test */
#wrapper {
    max-width:600px;
    margin: 50px auto 0 auto;
    height:400px;
    color: white;
}

#test-container {
    max-width:600px;
    height:400px;
}

.swiper-slide.question-slide {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container{
    width: 80%;
    height: 90%;
}

.question-container h3 {
    font-size:36px;
    text-transform:uppercase; 
}

.question-container span {
    font-size:15px;
}

.question-container .QS {
    margin: 20px 0;
    font-size: 30px;
}

.question-container label{
    margin-right: 20px;
}


.Q1 {
    background-color: #E0553F;
}

.Q2 {
  background-color: #FECE3E;
}

.Q3 {
  background-color: #3BAAD8;
}

.Q4 {
  background-color: #E07707;
}

.Q5 {
  background-color: #1B2B44;
}

.Q6 {
  background-color: #FECE3E;
}

.Q7 {
  background-color: #3BAAD8;
}

.main_middle {
    width: 100%;
}

.carousel-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 10vh;
}

.carousel-container .img_comment {
    margin-left: 20vw;
    font-size: 2rem;
    font-weight: 700;
    align-self: flex-start;
}

#img-container {
    width: 80vw;
    height: 60vh;
}

#carousel {
    margin: 30px 0;
}

.swiper-slide.img-slide {
    min-width: 80vw;
    height: 60vh ;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_img {
    height: 90%;
    width: 90%;
    object-fit: contain;
}



.overlay {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.stat {
    margin-bottom: 3rem;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* error */
    /* width: 100vw;  */
    margin: 0 1rem;
}

.title .headline {
    padding-left: 3rem;
}

.pict_container {
    margin: 3rem 3rem 2rem 3rem;
}

.pictogram_controls {
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pictogram {
    max-width: 500px;
    min-width: 320px;
    margin: 0 auto;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.source {
    margin-left: 60vw;
    margin-right: auto;
}

.comment {
    margin-top: 3rem;
    margin-left: 50%;
    margin-right: 10%;
    margin-bottom: 3rem;
}

.control {
    display: flex;
    align-items: center;
    margin: 0.3em;
}

.control:hover {
    cursor: pointer;
}

.control[data-index="1"] .color_box {
    width: 2.5em;
    height: 1em;
    background-color: #E9C460;
    margin: 0.3em;
}

.control[data-index="2"] .color_box {
    width: 2.5em;
    height: 1em;
    background-color: #787878;
    margin: 0.3em;
}

.label {
    font-size: 15px;
}

.hover_icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

#hover_icon1 {
    transform: translate(-40%, 0%);
}

#hover_icon2 {
    transform: translate(20%, 0%);
}

/* https://css-tricks.com/snippets/css/css-triangle/ */
.arrow {
    width: 0; 
    height: 0;
    border-radius: 2px; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    
    border-right: 8px solid rgba(0,0,0); 
}

.background {
    height: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    background-color: rgba(0,0,0, 0.7);

    display: flex;
    justify-content: start;
    align-items: center;
}

.color_box_hover {
    width: 1rem;
    height: 1rem;
    margin: 0.3rem;
    display: inline-block;
    border: 1px solid white;
}

.label_hover {
    color: white;
}

.background[data-index="1"] .color_box_hover {
    background-color: #E9C460;
}

.background[data-index="2"] .color_box_hover {
    background-color: #787878;
}

.label_hover {
    margin: 0.3rem;
    font-size: 1vw;
}

.img_people {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img_person {
    width: 10%;
    height: auto;
}

.infographic {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.number_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 180px;
    border: 2px solid #E9C460;
    border-radius: 90px; 
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50%;
}

.number {
    position: relative;
    font-weight: 900;
    font-size:  70px;
    line-height: 100%;
    color: #E9C460;
    top: -10px;
}

.number.small {
    font-size:  50px;
}

.percentage {
    position: relative;
    font-weight: 900;
    font-size: 35px;
    line-height: 100%;
    color: #E9C460;
    top: 10px;
}

.percentage.small {
    top: 0;
    font-size:  30px;
}

.text1 {
    font-weight: 700;
    font-size: 50px;
}

.text2 {
    font-weight: 700;
    font-size: 30px;
}

.source {
    font-weight: 100;
    font-size: 15px;
}

.comment {
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 1000px) and (min-width:910px) {
    .number_container {
        width: 160px;
        height: 160px;
        border-radius: 80px; 
    }
    
    .number {
        font-size: 50px;
    }

    .title .headline {
        padding-left: 1rem;
    }
    
    .text1 {
        font-size: 45px;
    }
    
    .text2 {
        font-size: 25px;
    }
    
    .comment {
        font-size: 15px;
    }
}

@media (max-width: 910px) and (min-width:750px)  {

    .number_container {
        width: 120px;
        height: 120px;
        border-radius: 60px; 
    }
    
    .number {
        font-size: 50px;
    }

    .title .headline {
        padding-left: 1rem;
    }
    .number.small {
        top: -5px;
        font-size:  35px;
    }

    .percentage.small {
        top: 0;
        font-size:  20px;
    }
    
    .percentage {
        font-size: 20px;
    }

    .text1 {
        font-size: 35px;
    }
    
    .text2 {
        font-size: 20px;
    }
    
    .comment {
        font-size: 15px;
    }
}

@media (max-width: 750px) and (min-width: 550px) {
    .number_container {
        width: 100px;
        height: 100px;
        border-radius: 50px; 
    }
    
    .number {
        top: -5px;
        font-size: 35px;
    }

    .carousel-container .img_comment {
        margin: 0;
        align-self: center;
    }

    .title .headline {
        padding-left: 1rem;
    }

    .number.small {
        top: -5px;
        font-size:  25px;
    }
    
    .percentage {
        top: 0;
        font-size: 15px;
    }

    .percentage.small {
        font-size: 15px;
    }

    .text1 {
        font-size: 25px;
    }
    
    .text2 {
        font-size: 15px;
    }

    .source {
        margin-left: 50vw;
        margin-right: auto;
        font-size: 13px;
    }
    
    .comment {
        margin-left: 35vw;
        margin-right: 10vw;
        font-size: 15px;
    }
}

@media (max-width: 550px) {

    .number_container {
        width: 80px;
        height: 80px;
        border-radius: 40px; 
    }
    
    .number {
        top: -5px;
        font-size: 30px;
    }

    .carousel-container .img_comment {
        margin: 0;
        align-self: center;
    }

    .title .headline {
        padding-left: 1rem;
    }

    .number.small {
        top: -3px;
        font-size: 20px;
    }
    
    .percentage {
        top: 0;
        font-size: 15px;
    }

    .percentage.small {
        font-size: 15px;
    }

    .text1 {
        font-size: 20px;
    }
    
    .text2 {
        font-size: 13px;
    }

    .source {
        margin-left: 40vw;
        margin-right: auto;
        font-size: 13px;
    }
    
    .comment {
        margin-left: 35vw;
        margin-right: 10vw;
        font-size: 15px;
    }

    .carousel-container {
        height: 70vh;
    }

    #img-container {
        height: 50vh;
    }

    #carousel {
        margin: 0;
    }

    .swiper-slide.img-slide {
        height: 50vh;
    }
    .carousel-container .img_comment {
        font-size: 1.7rem;
    }
}

@media (max-width: 400px) {
    .pict_container {
        margin: 0;
    }
}